// dark mode toggle button
.flex.flex-row
  .dark
    +icon('M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z')
  .light
    +icon('M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z').dark
  label.switch.self-center.mr-1
    input#dark-mode-btn(type="checkbox")
    span.slider.round
  script.
    function darkMode() {
      if (localStorage.theme === 'dark') {
        document.documentElement.classList.add('dark')
        $('#dark-mode-btn').prop('checked', true)

        $('.light').toggle(false)
        $('.dark').toggle(true)
      } else {
        document.documentElement.classList.remove('dark')
        $('.light').toggle(true)
        $('.dark').toggle(false)
      }
    }

    $('#dark-mode-btn').on('change', function(event) {
      const checked = $('#dark-mode-btn').is(':checked')
      if (checked) {
        localStorage.setItem('theme', 'dark')
      }else{
        localStorage.removeItem('theme')
      }
      darkMode()
    })

    darkMode()
