.flex.flex-row.w-full.justify-between
  include button
  .banner-header
    div toolset
  .banner-body
  .banner-foot.flex.flex-row
    .border-slate-400.border-r
    +button("login", "M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1", "Login")
    .border-slate-400.border-r
    +button("signup", "M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z", "Signup")
