mixin button(id, path, title)
  include icon
  button.h-full.flex.flex-col.justify-center.text-sky-600(id=id class="hover:text-sky-700")
    .w-32.flex.flex-row.justify-center
      +icon(path)
      .select-none= title
