section.header
  include components/header
section.main
  div= user.email
section.footer

script.
  document.title = 'Welcome'
// set avatars for self
if user.avatar_seed
  script.
    $(document).ready(async () => {
      const result = await getAvatar('!{user.avatar_seed}')
      $('.avatar.self').html(result)
    })
else
  script.
    $(document).ready(async () => {
      const result = await getAvatar('!{user.nickname}')
      $('.avatar.self').html(result)
    })

