doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style
      include dist/main.css
  body
    #root
      block content
    #bottom-slider
      span.rounded-t-lg.bg-red-400.bg-green-400.pt-2.pb-1.px-4
        .title ALARM
  block script
