doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style
      include dist/main.css
  body
    div(class="bg-slate-200")= message 
    div.list-container
      div.stack-list
        div.draggable.item A
      div.stack-list
        div.draggable.item B
      div.stack-list
        div.draggable.item C
    script
      include dist/bundle.js
