doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style
      include dist/main.css
  body
    .bg-slate-200= message
    .content
      .list-container
        .column
          .stack-list
            .draggable.card A
        .column
          .stack-list
            .draggable.card B
        .column
          .stack-list
            .draggable.card C
            .draggable.card D
            .draggable.card E
    script
      include dist/bundle.js
