.flex.flex-col
  .flex.flex-row.w-full.justify-between.bg-slate-200
    include button
    .banner-header.h-6.mt-2.ml-2
      .rounded-l-lg.text-sm.bg-sky-600.px-2.text-white(class='pt-0.5') Toolsets
      .rounded-r-lg.text-xs.bg-slate-50.px-1(class='pt-1') v0.0.4
    .banner-body
    .banner-foot.flex.flex-row
      +button("logout", "M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1", "Logout")
      .border-slate-400.border-r
      +button("settings", "M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z", "Settings")
script.
  $('#logout').on('click', ()=>{
    sessionStorage.clear()
    window.location.replace("/");
  })

  $('#settings').on('click', ()=> {
    loadAuthedPage('/admin/users')
  })

