section.header
  include components/header
section.main.overflow-y-auto
  .content-row
    .h-top
      .panel
        .font-semibold.select-none.text-sm
          span Profile
        #avatar.px-12
        form.mt-2#profile(method="post" action='/profile')
          .animated-label.enabled.mt-0
            input(type="text", id="seed", name="seed", required value= user.avatar_seed? user.avatar_seed : user.nickname)
            label(for="seed") Avatar seed
          .animated-label.enabled
            input(type="email", id="email", name= 'email', required value= user.email)
            label(for="email") Email
          .animated-label.enabled
            input(type="text", id="nickname", name="nickname", required value= user.nickname)
            label(for="nickname") Nickname
          .mt-4
            input.submit-btn(type="submit" value="Update")
      .flex.flex-col.w-full.space-y-4
        .panel
          .font-semibold.mb-6.select-none.text-sm
            span Password
          form#password(method="post" action='/profile')
            .animated-label.mt-0
              input(type="password", id="o-password", name="o-password", required)
              label(for="o-password") Old Password
            .animated-label
              input(type="password", id="n-password", name="n-password", required)
              label(for="n-password") New Password
            .animated-label
              input(type="password", id="r-password", name="r-password", required)
              label(for="r-password") Re-enter Password
            .mt-4
              input.submit-btn(type="submit" value="Update")
        if user.role === 'admin'
          .panel
            .font-semibold.mb-6.select-none.text-sm
              span.text- Admin Area
            .flex.flex-row.space-x-4.text-sky-500.underline
              a Status
              a(href='/admin/users') Users
section.footer
script.
  document.title = 'Profile'
script
  include dist/profile.js
