extends html

block content
  section.header
  section.main
    .content-row
      .h-center
        .panel.drop-shadow-md
          .bg-slate-200.text-white.px-4.py-2.font-semibold.rounded-md Loading page...
  section.footer
block script
  script
    include ../node_modules/jquery/dist/jquery.min.js
    include ../node_modules/detect-autofill/dist/detect-autofill.js
  script
    include dist/utils.js
    include dist/redirect.js
