.flex.flex-col
  // header
  include components/header
  - var itemA = {name: 'item-A', link: 'link-A', selected: true}
  - var itemB = {name: 'item-B', link: 'link-B'}
  - var menu = [itemA, itemB]
  +header(menu)
  div.user=user.role
