@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full text-slate-600 text-sm overflow-hidden;
}

body {
  @apply bg-slate-50 border-slate-200;
}

#root {
  @apply flex flex-col grow min-h-screen overflow-hidden;
}

.main {
  @apply grow;
}

.content-row {
  @apply min-h-full flex flex-row justify-center;
}

.h-center {
  @apply grow flex flex-col justify-center max-w-sm;
}

.h-top {
  @apply grow flex flex-col max-w-sm justify-center m-4 md:m-4 md:flex-row md:max-w-2xl md:space-x-4;
}

.panel {
  @apply w-full p-6 bg-white border mt-4 md:mt-0 h-fit;
}

form input {
  @apply w-full bg-slate-100 border h-10 py-1 px-2 outline-1 outline-slate-500 box-border;
}

.animated-label:first-child {
  @apply mt-0;
}
.animated-label {
  @apply relative mt-6;
}

.animated-label label {
  @apply absolute bottom-2 left-2 w-full text-slate-500 pointer-events-none;
  transition: 0.2s all ease;
}

.animated-label.enabled label {
  @apply bottom-10 text-sm;
}

.submit-btn {
  @apply w-full rounded-md bg-sky-400 p-2 font-semibold text-white disabled:bg-sky-200;
}

#bottom-slider {
  @apply absolute w-full bottom-0 flex justify-center;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

.slide-in {
  animation: slide-in 0.2s forwards;
  -webkit-animation: slide-in 0.2s forwards;
}

.slide-out {
  animation: slide-out 0.2s forwards;
  -webkit-animation: slide-out 0.2s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
  }
}

tr th,
tr td {
  @apply text-center;
}

tr {
  @apply even:bg-slate-100;
}

td {
  @apply px-2;
}

/* toggle button */
.switch {
  @apply relative inline-block w-10 h-6;
}

/* Hide default HTML checkbox */
.switch input {
  @apply w-0 h-0 opacity-0;
}

/* The slider */
.slider {
  @apply absolute left-0 top-0 right-0 bottom-0 bg-gray-400 duration-200;
}

.slider:before {
  @apply absolute w-5 h-5 left-0.5 top-0.5 bg-white duration-200;
  content: "";
}

input:checked + .slider {
  @apply bg-sky-500;
}

input:checked + .slider:before {
  @apply translate-x-4;
}

/* Rounded sliders */
.slider.round {
  @apply rounded-full;
}

.slider.round:before {
  @apply rounded-full;
}
